/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
.w-100 {
    width: 100%;
  }
  
  .pt-40 {
    padding-top: 40px;
  }
  
  .pt-20 {
    padding-top: 20px;
  }
  
  .pt-30 {
    padding-top: 30px;
  }
  
  .p-0 {
    padding: 0px;
  }
  
  .p-8 {
    padding: 8px;
  }
  
  .p-10 {
    padding: 10px;
  }
  
  .p-20 {
    padding: 20px;
  }
  
  .p-5 {
    padding: 5px;
  }
  
  .p-3 {
    padding: 3px;
  }
  
  .m-auto {
    margin: auto;
  }
  
  .m-10 {
    margin: 10px;
  }
  
  .mt-5 {
    margin-top: 5px;
  }
  
  .mt-10 {
    margin-top: 10px;
  }
  
  .mt-8 {
    margin-top: 8px;
  }
  
  .mt-r10 {
    margin-top: -10px;
  }
  
  .mr-5 {
    margin-right: 5px;
  }
  
  .mr-10 {
    margin-right: 10px;
  }
  
  .mr-35 {
    margin-right: 35px;
  }
  
  .mr-60 {
    margin-right: 60px;
  }
  
  .mr-20 {
    margin-right: 20px;
  }
  
  .ml-10 {
    margin-left: 10px;
  }
  
  .ml-15 {
    margin-left: 15px;
  }
  
  .ml-20 {
    margin-left: 20px;
  }
  
  .ml-100 {
    margin-left: 100px;
  }
  
  .ml-40 {
    margin-left: 40px;
  }
  
  .mb-10 {
    margin-bottom: 10px;
  }
  
  .mb-15 {
    margin-bottom: 15px;
  }
  
  .mb-r8 {
    margin-bottom: -8px;
  }
  
  .tal {
    text-align: left;
  }
  
  .tac {
    text-align: center;
  }
  
  .tabc {
    text-align: -webkit-center;
  }
  
  .tar {
    text-align: right;
  }
  
  .cursor {
    cursor: pointer;
  }
  
  .cp {
    cursor: pointer;
  }
  
  // .loginmain,
  // .devtest {
  //   --background: url("/assets/bg-image.png") 0 0/100% 100% no-repeat;
  // }
  
  .themetrybe {
    --background: url("/assets/bg-image.png") 0 0/100% 100% no-repeat !important;
  }
  
  .bg-clear {
    --background: transparent;
    color: #ffff;
  }
  
  .c-wht {
    color: #ffff;
  }
  
  
  
  .c-grn {
    color: green;
  }
  
  .c-lgrn {
    color: #288d67;
  }
  
  .c-red {
    color: red;
  }
  
  .c-lred {
    color: #ff5858;
  }
  
  .dsb {
    display: block;
  }
  
  
  
  .bg_red {
    background-color: red;
  }
  
  .bg_lred {
    background: #e14545 0% 0% no-repeat padding-box;
  }
  
  .bg_green {
    background-color: green;
  }
  
  .bg_lgreen {
    background: #288d67 0% 0% no-repeat padding-box;
  }
  
  .bg_lb {
    background-color: lightblue;
  }
  
  ion-searchbar {
    .searchbar-input-container {
      .searchbar-input {
        border-radius: 30px;
        height: 50px;
      }
  
      .searchbar-search-icon {
        width: 31px;
        height: 31px;
      }
    }
  }
  
  .bold {
    font-weight: bold;
  }
  
  .bg-darkgray {
    --background: url("/assets/bg-image.png") 0 0/100% 100% no-repeat;
  }
  
  .bg_dark {
    background-color: #2d2e2e !important;
  }
  
  .border-top-1 {
    border-top: 1px solid gray;
  }
  
  .fs-20 {
    font-size: 20px;
  }
  
  .seogoeUI {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .custombtn {
    font: bold 11px Arial;
    text-decoration: none;
    background-color: #eeeeee;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #cccccc;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #cccccc;
  }
  
  #profileTitle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #00b4f6;
    font-size: 35px;
    color: #fff;
    text-align: center;
    line-height: 150px;
    // margin: 20px 0;
    margin: 5px auto;
  }
  
  .icon_sz {
    height: 20px;
    width: 20px;
    margin-right: 2px;
    color: black;
    pointer-events: none;
  }
  
  .pad0 {
    padding: 0;
  }
  
  .bg_gray {
    background-color: #595959;
  }
  
  .tac {
    text-align: center;
  }
  
  
  .process-col {
    max-width: 137px;
    padding: 5px;
    margin-left: 15px;
    margin-right: 14px;
  }
  
  .ion-select {
    background-color: white;
  }
  
  .multiselect-dropdown {
    color: white;
  }
  
  .multiselect-dropdown .dropdown-btn .selected-item-container .selected-item {
    border-radius: 25px !important;
  }
  
  .multiselect-dropdown .dropdown-list {
    background: #2c2e2e !important;
  
  }
  
  .multiselect-item-checkbox input[type=checkbox]+div {
    color: white !important;
    /* color: #000; */
  }
  
  .multiselect-dropdown .dropdown-list .filter-textbox input {
    background: #2c2e2e !important;
  }
  
  // .autocomplete-container .input-container input {
  //   border-radius: 48px !important;
  // }
  
  .dx-data-grid {
    color: white !important;
    background-color: #595959 !important;
  
  }
  
  .fwb {
    font-weight: bold;
  }
  
  .ttn {
    text-transform: none;
  }
  
  .bn {
    border: none;
  }
  
  .multiselect-dropdown .dropdown-btn .selected-item-container .selected-item {
    max-width: 150px !important;
  }
  
  ion-input {
    --background: var(--ion-color-light) !important;
    margin: auto;
    height: 50px;
    border-radius: 9px;
    // border-color: #ADADAD;
    border: 1px solid #ADADAD;
  }
  ion-input:focus{
    border: 1px solid #4285F4;
    // border-color: #4285F4;
  }
  
  .packet-grid {
    margin-left: 100px;
    margin-right: 100px;
  }
  
  .cancel-icon {
    font-size: 50px;
    //margin-top: 2px;
    color: #9e9e9e;
    cursor: pointer;
  }
  
  
  .drawer {
    height: 80%;
    width: 0;
    z-index: 1;
    right: 0;
    background-color: #1B1C1C;
    border-radius: 50px 0px 0px 50px;
    overflow-x: hidden;
    transition: 0.5s;
    //padding-top: 60px;
    position: fixed;
    margin: auto
  }
  
  .elip {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  ion-modal.trybe_modal_1 {
    --height: 200px;
  
    ion-content {
      --background: #4796dd;
  
      #close {
        display: none;
      }
  
      #print {
        display: none;
      }
  
      #done {
        display: inline-flex;
      }
  
      .ack {
        display: none;
      }
  
      ion-text {
        color: #fff;
      }
    }
  }
  
  ion-modal.trybe_modal_0 {
    --height: 200px;
  
    ion-content {
      --background: #4796dd;
  
      #close {
        display: inline-flex;
      }
  
      #print {
        display: none;
      }
  
      #done {
        display: none;
      }
  
      .ack {
        display: none;
      }
  
      ion-text {
        // color: #f80808;
        color: #fff;
      }
    }
  }
  
  ion-modal.trybe_modal_print {
    // --height: 360px;
    --height: 280px;
  
    // --max-height:
    ion-content {
      --background: #4796dd;
  
      #print {
        display: none;
      }
  
      #close {
        display: none;
      }
  
      #done {
        display: inline-flex;
      }
  
      .ack {
        display: block;
      }
  
      ion-text {
        color: #fff;
      }
    }
  }
  
  /* Media Query for Mobile Devices */
  @media (max-width: 480px) {
    .dot {
      border-radius: 50%;
      display: inline-block;
      padding: 18px;
      max-width: 100%;
      max-height: 100%;
      min-width: 50px;
      min-height: 50px;
      width: 50px;
      height: 50px;
    }
  }
  
  /* Media Query for low resolution  Tablets, Ipads */
  @media (min-width: 481px) and (max-width: 767px) {
    .dot {
      border-radius: 50%;
      display: inline-block;
      padding: 18px;
      max-width: 100%;
      max-height: 100%;
      min-width: 50px;
      min-height: 50px;
      width: 50px;
      height: 50px;
    }
  }
  
  /* Media Query for Tablets Ipads portrait mode */
  @media (min-width: 768px) and (max-width: 1024px) {
  
    .dot {
      border-radius: 48%;
      display: inline-block;
      padding: 13px;
      max-width: 100%;
      max-height: 100%;
      min-width: 40px;
      min-height: 40px;
      width: 40px;
      height: 40px;
    }
  }
  
  /* Media Query for Laptops and Desktops */
  @media (min-width: 1025px) and (max-width: 1280px) {
    .dot {
      border-radius: 48%;
      display: inline-block;
      padding: 16px;
      max-width: 100%;
      font-size: 0.8rem;
      max-height: 100%;
      min-width: 54px;
      min-height: 50px;
      width: 40px;
      height: 40px;
    }
  
    // .dot {
    //   border-radius: 48%;
    //   display: inline-block;
    //   padding: 13px;
    //   max-width: 100%;
    //   max-height: 100%;
    //   min-width: 40px;
    //   min-height: 40px;
    //   width: 40px;
    //   height: 40px;
    // }
  }
  
  /* Media Query for Large screens */
  @media (min-width: 1281px) {
    ion-modal.trybe_modal_0 {
      // --height: 360px;
      // --height: 280px;
      --height: 244px;
    }
  
    ion-modal.trybe_modal_1 {
      // --height: 360px;
      // --height: 280px;
      --height: 244px;
    }
  
    ion-modal.trybe_modal_print {
      // --height: 360px;
      --height: 280px;
      // --height: 244px;
    }
  
    // .dot {
    //   border-radius: 50%;
    //   display: inline-block;
    //   padding: 22px;
    //   max-width: 100%;
    //   max-height: 100%;
    //   width: 64px;
    //   height: 64px;
    // }
    .dot {
      border-radius: 50%;
      display: inline-block;
      padding: 23px;
      max-width: 98px;
      max-height: 100px;
      font-size: 1rem;
      width: 73px;
      height: 66px;
    }
  
    ion-modal {
      --overflow: hidden;
    }
  }