/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
.bgOrange{
  --background: #ECBC76;
}
.w-100 {
    width: 100%;
  }
  
  .pt-40 {
    padding-top: 40px;
  }
  
  .pt-20 {
    padding-top: 20px;
  }
  
  .pt-30 {
    padding-top: 30px;
  }
  
  .p-0 {
    padding: 0px;
  }
  
  .p-8 {
    padding: 8px;
  }
  
  .p-10 {
    padding: 10px;
  }
  
  .p-20 {
    padding: 20px;
  }
  
  .p-5 {
    padding: 5px;
  }
  
  .p-3 {
    padding: 3px;
  }
  
  .m-auto {
    margin: auto;
  }
  
  .m-10 {
    margin: 10px;
  }
  
  .mt-5 {
    margin-top: 5px;
  }
  
  .mt-10 {
    margin-top: 10px;
  }
  
  .mt-8 {
    margin-top: 8px;
  }
  
  .mt-r10 {
    margin-top: -10px;
  }
  
  .mr-5 {
    margin-right: 5px;
  }
  
  .mr-10 {
    margin-right: 10px;
  }
  
  .mr-35 {
    margin-right: 35px;
  }
  
  .mr-60 {
    margin-right: 60px;
  }
  
  .mr-20 {
    margin-right: 20px;
  }
  
  .ml-10 {
    margin-left: 10px;
  }
  
  .ml-15 {
    margin-left: 15px;
  }
  
  .ml-20 {
    margin-left: 20px;
  }
  
  .ml-100 {
    margin-left: 100px;
  }
  
  .ml-40 {
    margin-left: 40px;
  }
  
  .mb-10 {
    margin-bottom: 10px;
  }
  
  .mb-15 {
    margin-bottom: 15px;
  }
  
  .mb-r8 {
    margin-bottom: -8px;
  }
  
  .tal {
    text-align: left;
  }
  
  .tac {
    text-align: center;
  }
  
  .tabc {
    text-align: -webkit-center;
  }
  
  .tar {
    text-align: right;
  }
  
  .cursor {
    cursor: pointer;
  }
  
  .cp {
    cursor: pointer;
  }
  
  // .loginmain,
  // .devtest {
  //   --background: url("/assets/bg-image.png") 0 0/100% 100% no-repeat;
  // }
  
  .themetrybe {
    --background: url("/assets/bg-image.png") 0 0/100% 100% no-repeat !important;
  }
  
  .bg-clear {
    --background: transparent;
    color: #ffff;
  }
  
  .c-wht {
    color: #ffff;
  }
  
  
  
  .c-grn {
    color: green;
  }
  
  .c-lgrn {
    color: #288d67;
  }
  
  .c-red {
    color: red;
  }
  
  .c-lred {
    color: #ff5858;
  }
  
  .dsb {
    display: block;
  }
  
  
  
  .bg_red {
    background-color: red;
  }
  
  .bg_lred {
    background: #e14545 0% 0% no-repeat padding-box;
  }
  
  .bg_green {
    background-color: green;
  }
  
  .bg_lgreen {
    background: #288d67 0% 0% no-repeat padding-box;
  }
  
  .bg_lb {
    background-color: lightblue;
  }
  
  ion-searchbar {
    .searchbar-input-container {
      .searchbar-input {
        border-radius: 30px;
        height: 50px;
      }
  
      .searchbar-search-icon {
        width: 31px;
        height: 31px;
      }
    }
  }
  
  .bold {
    font-weight: bold;
  }
  
  // --background: url("/assets/bg-image.png") 0 0/100% 100% no-repeat;
 
  
  .bg_gray {
    background-color: #595959;
  }
 
  
  .fwb {
    font-weight: bold;
  }
  
  .ttn {
    text-transform: none;
  }
  
  .bn {
    border: none;
  }
  
  ion-input {
    --background: var(--ion-color-light) !important;
    margin: auto;
    height: 50px;
    border-radius: 9px;
    // border-color: #ADADAD;
    border: 1px solid #ADADAD;
  }
  ion-input:focus{
    border: 1px solid #4285F4;
    // border-color: #4285F4;
  }
  
 